@charset "ISO-8859-1";


.wrapper
{
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table
{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
  border: 1px solid black;
}

.row
{
  display: table-row;
  background: #f6f6f6;
  

}
.cell
{
  padding: 6px 12px;
  display: table-cell;
  
}